# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
*.egg-info/
dist/
build/

# Django
db.sqlite3
media/
staticfiles/
.env

# Frontend
node_modules/
frontend/dist/
frontend/.env.local

# OS
.DS_Store
*.swp
